# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Output Videos & Results
# =========================
# data/outputs/
# outputs/
# results/

# =========================
# Large Video Files
# =========================
# *.mp4
# *.avi
# *.mov

# Keep sample structure
!data/raw/.gitkeep
!data/outputs/.gitkeep

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
tmp/
temp/

# =========================
# Model Weights
# =========================
*.pth
*.pt
*.onnx

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/